<h3>{{ topic }}</h3>

<p>
    <strong>Nom:</strong>
    {{ lastname }}
</p>
<p>
    <strong>Prenom:</strong> 
    {{ firstname }}
</p>
<p>
    <strong>Email:</strong>
    {{ email }}
</p>
<p>
    <strong>Telephone:</strong> 
    {{ phone }}
</p>
<p>
    <strong>Message:</strong>
    </p>
<p>
    {{ message }}
</p>
