{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
 
{% block body %}

    <div class="container delivery px-4">

        <h1 class="pb-2 mt-3 text-center text-md-left"><span>Ma {{ controller_name }}</span></h1>

        <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
            <div class="separator_gallery mx-0"></div>
        </div>


         <section> 
           <!-- ////////////////////////// choix du mode de livraison///////////////////////////////// -->       
                <h5> Choissisez votre mode de livraison</h5>
                <hr/>
        
            <div class="borderdelivery">
                <div class="row mt-2">
                    <div class="radio col-sm-4 mb-3">
                        <label><input type="radio" name="optradio" checked><span class="font-weight-bold">   Relais Kiala</span><br><span class="ml-3 text-success ">     Gratuit</span></label>
                    </div>

                    <div class="col-sm-8">
                            
                    <div >
                
                        <!-- Zone dans laquelle le Widget est chargé -->
                        <div class="col-sm-8" id="Zone_Widget"></div>
                        <div style="padding:8px; overflow:auto;"></div>

                        {% block javascripts %}
                        <!-- Librairie jQuery, facilitant la programmation de scripts côté client.-->
                    
                        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

                        <!-- Librairie de Cartographie : Leaflet. -->
                        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                        <!-- Widget MR -->
                        <script src="https://widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>

                        <script src="{{ asset( 'assets/script/mondial_relay.js' ) }}"></script>
                        {% endblock %}

                    </div>

                    </div>
                   
                </div>

                <div class="row ">
                    <div class="radio col-sm-4">
                        <label><input type="radio" name="optradio"><span class="font-weight-bold">   La Poste</span><br><span class="ml-3 text-success">      Gratuit</span></label>
                    </div>   

                    <div class="col-sm-8">
                            <ul><li>  Livraison gratuite directement à votre domicile ou à votre travail en Colissimo Suivi avec La Poste</li></ul>
                    </div>

                </div>
            </div>
         </section>
        
            
        {# {% if cart.count <= 0 %} #}
        <!-- <h3>Il n'y a rien dans ton panier... :(</h3> -->
        {#{% else %} #}

    <!-- //////////////////////////  PANIER ///////////////////////////////// -->

        {# {% for item in cart.items %} #}
     

    <!-- /////////////////// BOUTONS Poursuite Achats / Commande ///////////////// -->
    <div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-warning mb-4"><a href="{{ path('gallery', {product_type: 'tshirt', genderEN: 'man', color_id: '0', logo_id:'0' }) }}">Retour</a></button>   
            <button type="button" class="btn btn-success mb-4"><a href="{{ path('payment') }}">Passer la commande</a></button> 
        </div>
    </div>
    
    {# </div> <!--fin container delivery --> #}
    {# {% endif %} #} <!-- fin de la condition - panier vide ou non -->



{% endblock %}
