{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}

<!-- //////////////////////// CONTENU DE LA PAGE ////////////////////////// -->
<section class="container-fluid px-0 produit_gallery pb-1">
  
  <!-- Titre de la page -->
  <div class="container text-center pt-5 pb-1 position-relative">
    <div class="row d-flex justify-content-between">
     
        <!-- Titre -->
        <div class="col-xs-12 col-sm-8 pb-4 px-0">
            <div class="col-12 pb-2 text-center text-md-left">                   
                <h2>
                  <span class="text-bleu">Mon {{ controller_name }}</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 d-flex justify-content-center justify-content-sm-start">                                    
                <div class="separator_gallery mx-0"></div>
            </div>
        </div>

    </div>
  </div>
  
</section>


<!-- ////////////////// COLONNE GAUCHE IDENTIFIANT /////////////////////////// -->
<div class="container">

</div>

        <div class="container cart pt-0">
            <div class="row">
                {# <div class="registerside"> #}

                <!-- formulaire Register-->
                <div class="col-md-7"> 
                    

                    <form method= "POST">
                        <div>  
                        <div class="col-sm-11 mb-2">
                        <div>
                        <h5>Nouveau client ?</h5>
                        <p class="font-weight-bold">Inscrivez-vous en quelques instants</p>
                        </div>

                        <form action="/web-symfony/public/index.php/user/login" method="post">
                        <button type="submit" class="btn btn-primary mb-3 mt-2"><a class="text-white" href="{{ path('register') }}">Créer un compte</a></button>
                        </form>
                        
                </div>
                        <hr/>
            </div> 

                    </form>
                <!-- Connectez-vous si déja inscrit -->

        <section class="col-sm-11 mt-5 mb-4">
            <div>
                <h5 class>Déja inscrit ?</h5>
                    <p class="font-weight-bold"> Connectez-vous en saisissant vos identifiants</p>

                <form action="/web-symfony/public/index.php/user/login" method="post">
                    <div class="form-group w-100">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="_username" class="form-control" value="">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-2">Valider et continuer</button>
                    </div>
                </form>
                
        </section>
                <hr/>
                    <div class= "champs">Les champs précédés d'une * sont <span>obligatoires</span></div>
                </div> <!-- fin col-md-7-->
                {# </div> <!-- fin registerside--> #}


    <!-- ////////////////// PANIER /////////////////////////// -->

        <div class="panierup col-md-5 mt-1"> 
  
        {# {% for item in cart.items %} #}
            
        <table class="table cart">
            <thead class="thead-light">
                <tr class="row">
                    <th class="col-md-1 delete_item"></th>
                    <th class="col-md-2 image">Article</th>
                    <th class="col-md-3 description"></th>
                    <th class="col-md-2 text-center unit_price">Prix Unitaire</th>
                    <th class="col-md-2 text-center quantity">Quantité</th>
                    <th class="col-md-2 text-center total_price">Prix Total</th>
                </tr>
            </thead>
        
         <!-- ///////  Lignes du panier en fonction du nombre d'articles (boucle) /////// -->
            <tbody>
                {# {% for item in cart.items %} #}
                <tr class="row">
                    <td class="col-md-1 delete_item"><a href="#" 
                        {# data-item-id="{{item.id}}" #}
                        ><img src="../../public/assets/images/icones/trash.svg" width="20px"></a></td>
                    <td class="col-md-2"><img src="../../public/assets/images/homme/tshirt_homme_c_mieux.png" class="img-responsive" width="100px" alt=""></td>
                    <td class="col-md-3"><a href="#"><div class="font-weight-bold">T-Shirt name </div></a><br>
                        <div > product.color </div>
                        <div > product.size </div>
                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none"> Prix Unitaire: </div>
                        <div class="text-right mr-2">15.00€</div> 
                        {# <span>product.price</span> #}
                                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none">Quantité: </div>
                        <div class="text-right">3</div> 
                        {# <span > item.quantity </span> #}
                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none"> Prix Total: </div>
                        <div class="text-right">45.00€</div> 
                        {# <span > item.total </span> #}
                    </td>
                </tr>
                {# {% endfor %} #}
            </tbody>
        </table>
        

    <!--////////////////// Partie PRIX TOTAUX /////////////////////////////////-->

        <div class="row pr-4 font-weight-bold ttc-price">
            <div class="col-10 text-right p-0"> TOTAL DES ACHATS :</div>
            <div class="col-2 text-right p-0 ">70.00€</div>{# <span > item.total * nb order </span> #}
        </div><hr>
        
        <div class="row pr-4 tva">
            <div class="col-10 text-right p-0">Dont TVA : </div>
            <div class="col-2 text-right p-0">15.00€</div> {# <span > item.total * 0.20 </span> #}
        </div><hr>
                    
                    
         <!-- /////////////////// BOUTONS Poursuite Achats / Commande ///////////////// -->

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning mb-4 mr-2"><a class="text-white" href="{{ path('mengallery') }}">Continuer mes achats</a></button>   
            <button type="button" class="btn btn-success mb-4 ml-2"><a class="text-white" href="{{ path('delivery') }}">Passer la commande</a></button> 
        </div>
                    </div>
                    </div>
    
        






   
    {# {% endif %} #} <!-- fin de la condition - panier vide ou non -->

        </div> <!-- fin col-md-5-->
            
            

    </div> <!-- fin div raw-->

    




{% endblock %}
