{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}


{% block body %}

{# {{ dump(basketProducts) }} #}

<div class="container basket px-4">
       
    <h1 class="pb-2 mt-3 text-center text-md-left">  Mon <span>Panier</span></h1>

    <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
        <div class="separator_gallery mx-0"></div>
    </div>

    {# {% if basket.count <= 0 %}
    <h1>Il n'y a rien dans ton panier... :(</h1>
    {% else %} #}

<!-- //////////////////////////  PANIER ///////////////////////////////// -->

        <div class="row basket-header" >
        {# id="{{line.id}}" > #}

            <table class="table basket">
                <thead class="thead-light">
                    <tr class="row">
                        <th class="col-md-1 delete_item"></th>
                        <th class="col-md-2 image">Article</th>
                        <th class="col-md-3 description"></th>
                        <th class="col-md-2 text-center unit_price">Prix Unitaire</th>
                        <th class="col-md-2 text-center quantity">Quantité</th>
                        <th class="col-md-2 text-center total_price">Prix Total</th>
                    </tr>
                </thead>
            
            <!-- ///////  Lignes du panier en fonction du nombre d'articles (boucle) /////// -->
                <tbody>

                    {% for basketProduct in basketProducts %}

                        <tr class="row">
                            <td class="col-md-1 delete_item">
                                <a href="{{ path('basketremove', {basketid: loop.index}) }}">
                                    <img src="{{ asset( 'assets/images/icones/trash.svg' ) }}" width="20px">
                                </a>
                            </td>
                            <td class="col-md-2 cart-item img">
                                <a href="{{ path('tshirtdetail', {product_type: 'tshirt', genderEN: 'man', color_id: 1, logo_id: 3 }) }}" 
                                    class="produit_link position-relative w-100 d-flex align-items-center" {# style="background-color:{{ basketProduct.color_hexa }};"#}>
                                <img src="{{ path('small', {genderEN: 'man', color_id: 1, logo_id: 3}) }}" class="img-responsive" width="100px" alt="">
                            </td>
                            <td class="col-md-3"><div class="font-weight-bold">{{ basketProduct.logoId }}</div></a><br>
                                <div></div>
                                <span>{{ basketProduct.genderId }} / {{ basketProduct.sizeId }} / {{ basketProduct.colorId }}</span>
                            </td>
                            <td class="col-md-2 pr-4">
                                <div class="d-md-none"> Prix Unitaire: </div>
                                <div class="text-right mr-2">{{ basketProduct.priceUnitTtc }} €</div> 
                            </td>
                            <td class="col-md-2 pr-4">
                                <div class="d-md-none">Quantité: </div>
                                <div class="text-right">{{ basketProduct.quantity }}</div> 
                            </td>
                            <td class="col-md-2 pr-4">
                                <div class="d-md-none"> Prix Total: </div>
                                <div class="text-right">( {{ basketProduct.priceUnitTtc }} * {{ basketProduct.quantity}} ) €</div> 
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
        <hr>

<!--////////////////// Partie PRIX TOTAUX /////////////////////////////////-->

        <div class="row pr-4 font-weight-bold ttc-price">
            <div class="col-10 text-right p-0"> TOTAL DES ACHATS :</div>
            <div class="col-2 text-right p-0 ">70.00€</div>{# ( {{product.price_unit_ttc}} * {{qty}} ) * nb orderline #}
        </div><hr>

        <div class="row pr-4 tva">
            <div class="col-10 text-right p-0">Livraison : </div>
            <div class="col-2 text-right p-0">Gratuite</div> 
        </div><hr>

        
    <!-- /////////////////// BOUTONS Poursuite Achats / Commande ///////////////// -->
    
        <div class="d-flex justify-content-between button">
            <button type="button" class="btn btn-warning mb-4"><a href="{{ path('gallery', {product_type: 'tshirt', genderEN: 'man', color_id: '0', logo_id:'0' }) }}">Continuer mes achats</a></button>   
            <button type="button" class="btn btn-success mb-4"><a href="{{ path('delivery') }}">Passer la commande</a></button> 
        </div>
                    
    {# {% endif %} #} <!-- fin de la condition - panier vide ou non -->

</div> <!--fin container basket -->
    
    {% endblock %}








 





