{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div class="container container-fluid position-relative px-0 pb-3 payment px-4"> <!-- //class container// -->

        <h1 class="pb-2 mt-3 text-center text-md-left"><span> Mon {{ controller_name }}</span></h1>

        <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
            <div class="separator_gallery mx-0"></div>
        </div>


         <section> 
           <!-- ////////////////////////// choix du mode de paiement///////////////////////////////// -->       
                <h5> Choissisez votre mode de paiement</h5>
                <hr/>
            
                <div class="d-flex flex-row mt-2">
                    <div class="radio p-2 col-md-4 mb-3">
                        <label><input type="radio" name="optradio" checked><span class="font-weight-bold">   CARTE BANCAIRE</span><br><span class="ml-3 text-success ">     Gratuit</span></label>
                    </div>
                    <div class="col-md-8 p-2">
                        <img src="{{ asset( 'assets/images/panier/cartesbancaires.png' ) }}" height="100" width="200" alt="Image de cartes bancaires">                   
                    </div> 
                </div>
                

<!-- /////////////////// BOUTONS Poursuite Achats / Commande ///////////////// -->
      
            
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-warning mb-4"><a href="{{ path('delivery') }}">Retour</a></button>   

                    <form action="your-server-side-code" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                            data-amount="2400"
                            data-name="devmyshirts.com"
                            data-description="Paiement en ligne"
                            data-image="{{ asset( 'assets/images/panier/boutonstripe.png' ) }}"
                            data-locale="fr"
                            data-zip-code="true">
                        </script>
                    </form>
                </div>
    </div>

 

            
            

                
        
         </section>
     

    
      
    
    </div> <!--fin container payment -->
    {# {% endif %} #} <!-- fin de la condition - panier vide ou non -->




{% endblock %}
