{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <section class="container-fluid basket px-4">
    

        <h1 class="pb-2 mt-3 text-center text-md-left">  Mon <span>Panier</span></h1>

        {# <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                     #}
            <div class="separator_gallery mx-0"></div>
        {# </div> #}

        {# {% if cart.count <= 0 %} #}
        <!-- <h3>Il n'y a rien dans ton panier... :(</h3> -->
        {#{% else %} #}
 <!-- //////////////////////////COLONE CENTRALE IDENTIFICATION///////////////////////////////// -->


    <div class="container-fluid row mb-8 d-flex justify-content-center px-0 justify-content-sm-start">
        
     
         <!-- Inscrivez-vous -->
        <section class="col-sm-8 ">
            <div>
                <h5>Nouveau client ?</h5>
                <p class="font-weight-bold">Inscrivez-vous en quelques instants</p>
            </div>

            <form action="/web-symfony/public/index.php/user/login" method="post">
                <button type="submit" class="btn btn-primary "><a class="registerbutton" href="{{ path('register') }}">Créer un compte</a></button>
                
            </form>
                <hr/>
        </section>

           
        <!-- Connectez-vous si déja inscrit -->

        <section class="col-sm-8 ">
            <div>
            <h5>Déja inscrit ?</h5>
            <p class="font-weight-bold"> Connectez-vous en saisissant vos identifiants</p>

            <form action="/web-symfony/public/index.php/user/login" method="post">
                <div class="form-group w-100">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="_username" class="form-control" value="">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Valider et continuer</button>
            </form>
                <hr/>
        </section>
            

        <!--Panier-->
        <section class="col-sm-4  ">
        <!-- //////////////////////////  PANIER ///////////////////////////////// -->
  
        {# {% for item in cart.items %} #}
            
        <table class="table cart">
            <thead class="thead-light">
                <tr class="row">
                    <th class="col-md-1 delete_item"></th>
                    <th class="col-md-2 image">Article</th>
                    <th class="col-md-3 description"></th>
                    <th class="col-md-2 text-center unit_price">Prix Unitaire</th>
                    <th class="col-md-2 text-center quantity">Quantité</th>
                    <th class="col-md-2 text-center total_price">Prix Total</th>
                </tr>
            </thead>
        
         <!-- ///////  Lignes du panier en fonction du nombre d'articles (boucle) /////// -->
            <tbody>
                {# {% for item in cart.items %} #}
                <tr class="row">
                    <td class="col-md-1 delete_item"><a href="#" 
                        {# data-item-id="{{item.id}}" #}
                        ><img src="../../public/assets/images/icones/trash.svg" width="20px"></a></td>
                    <td class="col-md-2"><img src="../../public/assets/images/homme/tshirt_homme_c_mieux.png" class="img-responsive" width="100px" alt=""></td>
                    <td class="col-md-3"><a href="#"><div class="font-weight-bold">T-Shirt name </div></a><br>
                        <div > product.color </div>
                        <div > product.size </div>
                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none"> Prix Unitaire: </div>
                        <div class="text-right mr-2">15.00€</div> 
                        {# <span>product.price</span> #}
                                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none">Quantité: </div>
                        <div class="text-right">3</div> 
                        {# <span > item.quantity </span> #}
                    </td>
                    <td class="col-md-2 pr-4">
                        <div class="d-md-none"> Prix Total: </div>
                        <div class="text-right">45.00€</div> 
                        {# <span > item.total </span> #}
                    </td>
                </tr>
                {# {% endfor %} #}
            </tbody>
        </table>
        <hr>


    <!--////////////////// Partie PRIX TOTAUX /////////////////////////////////-->

        <div class="row pr-4 font-weight-bold ttc-price">
            <div class="col-10 text-right p-0"> TOTAL DES ACHATS :</div>
            <div class="col-2 text-right p-0 ">70.00€</div>{# <span > item.total * nb order </span> #}
        </div><hr>
        
        <div class="row pr-4 tva">
            <div class="col-10 text-right p-0">Dont TVA : </div>
            <div class="col-2 text-right p-0">15.00€</div> {# <span > item.total * 0.20 </span> #}
        </div><hr>
                    </div>
                    </div>
    
        </section>

         <!-- /////////////////// BOUTONS Poursuite Achats / Commande ///////////////// -->

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning mb-4 mr-2"><a href="{{ path('mengallery') }}">Continuer mes achats</a></button>   
            <button type="button" class="btn btn-success mb-4 ml-2"><a href="{{ path('delivery') }}">Passer la commande</a></button> 
        </div>







    {# {% endif %} #} <!-- fin de la condition - panier vide ou non -->




{% endblock %}
