{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block body %}

{{ dump(orders) }}

{{ dump(orderLines) }}

{# condition #}
{% if app.user.email == user.email %}

<div class="container bg-light p-5">
    <h1 class="pb-2 mt-3 text-center text-md-left"> MON COMPTE / MES COMMANDES </h1>
    
    <div class="col-xs-12 col-sm-12 w-75 d-flex justify-content-center px-0 justify-content-sm-start">
        <div class="separator_gallery mx-0"></div>
    </div>


{# information #}
<div class="row mt-5 mb-5">

    <div class="col-md-4">
        <h4 class="mb-4">INFORMATIONS / ADRESSE</h4>
        <hr>
        <p><b>Pseudo: </b>{{user.username}}</p>
        <p><b>Nom: </b>{{user.lastname}}</p>
        <p><b>Prenom: </b>{{user.firstname}}</p>
        <p><b>Adresse mail: </b>{{user.email}}</p>
        <p><b>Téléphone: </b>{{user.phone}}</p>
        <hr>
        <p><b>Numéro / rue: </b>{{addr.street}}</p>
        <p><b>Code postal: </b>{{addr.zipcode}}</p>
        <p><b>Ville: </b>{{addr.city}}</p>
        <p><b>Country: </b>{{addr.country}}</p>
        <hr>
        <a href="{{ path('user_edit', {'id': id }) }}" class="btn btn-warning btn-sm mb-3 btn-block mb-3" role="button">Modifier
            mes informations / mon adresse</a>

    </div>
        
        
{# tableau #}
<div class="col-md-8">
    <h4 class="mb-4">MES COMMANDES</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">price</th>
                <th scope="col">date</th>
                <th scope="col">Plus d'informations</th>
            </tr>
        </thead>
        <tbody>

            {% for order in orders %}

            <tr>
                <th scope="row">{{ order.order_register }}</th>
                <td>{{ order.price_ttc }} &euro;</td>
                <td>{{ order.order_date }}</td>
                <td>
                {% for orderLine in orderLines %}
                    {% if ( order.orders_id == orderLine.order_id ) %}

                            <b>Couleur: </b>{{ orderLine.color_name }} / <b>Taille: </b>{{ orderLine.size_name }} /<b> Quantité: </b>{{ orderLine.quantity }}<br>
                            <b>Model: </b>
                            <a href="{{ path('tshirtdetail', {product_type: orderLine.product_type, genderEN: orderLine.gender_name, color_id: orderLine.product_color_id, logo_id: orderLine.product_logo_id }) }}">{{ orderLine.logo_name }}</a>
                            <br /><br />

                    {% endif %}
                    
                    {# {% if not loop.last %} <hr> {% endif %} #}

                {% endfor %}
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
</div>
</div>
{# else affichage du 404 #}
{% else %}
<div class="h-100 d-flex flex-row align-items-center">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center error-content">
                <i class="fab fa-fly display-1 mb-3 text-info"></i>
                <span class="display-1 d-block"><span class="text-info"><</span> 404 <span class="text-info">/></span></span>
                <div class="mb-4 lead">La page que vous recherchez n'a pas été trouvé...</div>
                <a href="{{ path('home') }}" class="btn btn-link retour mb-5">Retour à la page d'Accueil</a>
            </div>
        </div>
    </div>
</div>

</div>

{# fin du if #}
{% endif %}
{% endblock %}