{% extends 'base.html.twig' %}

{% block title %} {{ controller_name }} | {{ parent() }} {% endblock %}
{% block header %}<meta name="Page Login"="Connectez-vous ici!">{% endblock header %}
{% block body %}

<!-- //////////////////////// CONTENU DE LA PAGE ////////////////////////// -->
<section class="container-fluid px-0 produit_gallery pb-1">
  

<div class="container login">
<!-- formulaire connexion -->
{# condition d'affichage #}    
{% if app.user %}
<br>
<h3 class="text-danger text-center">vous êtes connecté en tant que <span class="text-secondary"><a href="{{ path('account', {"id": app.user.id }) }}">{{ app.user.username }}</a></span></h3> 

{# else condition d'affichage #}
{% else %}
  <!-- Titre de la page -->
  <div class="container text-center pt-5 pb-2 position-relative">
    <div class="row d-flex justify-content-between">
     
        <!-- Titre -->
        <div class="col-xs-12 col-sm-8 pb-4 px-0">
            <div class="col-12 pb-2 text-center text-md-left">                   
                <h2>
                  Connectez-<span class="text-bleu">vous</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 d-flex justify-content-center justify-content-sm-start">                                    
                <div class="separator_gallery mx-0"></div>
            </div>
        </div>

    </div>
  </div>
  


<!-- ////////////////// FORMULAIRE de ENREGISTREMENT /////////////////////////// -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="champs">Pas encore <span>enregistré</span> chez nous ?
            <a href="{{ path('register') }}">C'est par ici !</a>
            </div>
            <br /><br />
        </div>
        <div class="col-3"></div>
    </div>


<!-- ////////////////// FORMULAIRE de CONNEXION /////////////////////////// -->

    <!-- Gestion erreur authentification -->
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
        {# if error #}
        {% if error %}
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    <li><span class="initialism form-error-icon badge badge-danger">Erreur à la connexion</span> 
                        <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </li>
                </ul>
            </div>
        {# fin du if error #}
        {% endif %}
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
            <div class="col-3"></div>
            <div class="col">
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control">
                <a href="{{ path('app_forgotten_password') }}">mot de passe oublié ?</a>
                    </div>

                    <div class="btn_motifs text-center">
                        <button type="submit" class="btn-envoyer rounded-0 mt-4 py-2 px-5">Se connecter</button>
                    </div>
                </form>
                <br /><br /><br />
            </div>
            <div>
            </div>
            <div class="col-3"></div>
        </div>
{# fin du if condition d'affichage #}
{% endif %}
    

</div>
</section>


{% endblock %}