{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} de Noël | {{ parent() }}{% endblock %}

{% block body %}

<!-- //////////////////////// CONTENU DE LA PAGE ////////////////////////// -->
<section class="container-fluid px-0 produit_gallery pb-3">

    <!-- Encart visuel -->
    <section class="row slide_promo">
        <div class="snow"></div>  
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
            <h1 class="display-4 text-warning">-20%</h1>
            <p class="lead">
                <span class="font-weight-bold text-uppercase slogan_noel">Sur notre sélection <span class="slogan_slide noel text-success">Spécial Noël</span></span><br>
                Valable du 15 au 28 <strong>Décembre 2018</strong>
            </p>
        </div>  
    </section>

    <!-- Titre de la page -->
    <div class="container text-center pt-5 pb-2 position-relative">
        <div class="row d-flex justify-content-between">
            <!-- Titre -->
            <div class="col-8 pb-4">
                <div class="col-12 pb-2 text-left">                   
                    <h2>
                        {{ controller_name }} de <span class="text-bleu">{{ evenement }}</span>
                    </h2>
                </div>
                <div class="col-12">                                    
                    <div class="separator_gallery"></div>
                </div>
            </div>
        </div>
    </div>

<!-- controllers -->
<div class="col-4">
    <nav aria-label="controller-produit py-0">
        <ul class="pagination d-flex justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Précédent</span>
                    <span class="sr-only">Précédent</span>
                </a>
            </li>
            <li>
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Suivant &raquo;</span>
                    <span class="sr-only">Suivant</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


<!-- Gallerie -->

<section class="row mb-4">
    <!-- Produit 01 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('womensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Sass</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>

    <!-- Produit 02 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('womensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Id Fix</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>

    <!-- Produit 03 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('mensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Lorem et Hardy</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>

    <!-- Produit 04 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('mensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Getter Setter</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>

    <!-- Produit 05 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('mensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Entre quote</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>

    <!-- Produit 06 -->
    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 rounded-0 border-0">
        <a href="{{ path('mensingle') }}" class="produit_link position-relative">
            <!-- Visuel Produit -->
            <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du motif gamehover">
            <div class="overlay">
                <img class="card-img-top rounded-0" src="https://place-hold.it/300x400" alt="Image du t-shirt gamehover" />
            </div>
        </a>
        <!-- Infos produit -->
        <div class="card-body">
            <h3 class="title_produit_gallery">Class ik</h3>
            <h5 class="price_gallery pb-2">13,00€</h5>
        </div>
    </div>


</section>

<!-- controllers -->
<div class="container d-flex justify-content-end">
    <div class="col-4 px-0">
        <nav aria-label="controller-produit py-0">
            <ul class="pagination d-flex justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Précédent</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
                <li>
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">Suivant &raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</section>

{% endblock %}